<div class="about-container row">
    <div class="qualification-container col-3">
        <img  class="faceImg img-fluid" src="assets/img/nueva.jpg" alt="Imagen de Perfil" width="900"> 

        <h1 class="name text-center">{{name}}</h1>

        <p class="qualification text-center">
            {{category}}
        </p>
    </div>

    <div class="text-about col-9">
        <h3 class="section-title"> 
            Sobre Mí
        </h3>

        <p class="about-description text-justify">Aca va ir un poco de texto diciendo cosas sobre mi tal vez mi experiencia etc </p>
    </div>

</div>
