<div class="about-container row" style="background-color: #556b2f">
  <div class="qualification-container col-3">
    <img
      class="faceImg img-fluid"
      src="assets/img/nueva.jpg"
      alt="Imagen de Perfil"
      width="900"
    />

    <h1 class="name text-center">{{ name }}</h1>

    <p class="qualification text-center">
      {{ category }}
    </p>
  </div>

  <div class="text-about col-8">
    <h3 class="section-title">About me</h3>

    <p class="about-description text-justify">
      I am currently in the third year of the higher technical degree in
      software development, 15 subjects promoted out of 23. The first year we
      learned the Python language and then we introduced object-oriented Python
      with the creation of a database built with MariaDB. This second year we
      developed mobile with the Kotlin language and made a complete Deposit
      Management website with PHP/HTML/CSS. I also started with the Big Data/
      Data Analytics course "Codo a Codo". Regarding my work experience, I
      currently work as a full stack developer at Martin Rousseaux company,
      where we work with the technologies: Angular, Java, Firebase, HTML, CSS,
      TypeScipt.
    </p>
  </div>
</div>
